.boardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.board {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 200px;
    width: 90vmin;
    height: 90vmin;
}
