.boardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.board {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}
