@inherits FieldComponentBase

<div class="Field" @onclick="OnFieldClick" style="background-color: @GetBackgroundColor(); border-color: @GetBorderColor()">

    @if (ChildContent != null)
    {
        @ChildContent
    }

</div>