@inherits FieldComponentBase

<div class="Field" style="background-color: @GetBackgroundColor(); border-color: @GetBorderColor()">

    @if (PieceComponent != null)
    {
        @PieceComponent
    }

</div>