################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChessApp.Web/bin
/ChessApp.Web/obj
/ChessBoardComponents/obj
/ChessBoardComponents/bin
/ChessApp.Api/obj
/ChessApp.Api/bin

