################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChessWebApp/obj
/ChessApp.Web/bin
/ChessApp.Web/obj
/ChessBoardComponents/obj
/ChessApp.Api/obj
/ChessApp.Api/bin
/ChessWebAppComponents/obj
