body {
}


.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-content: start;
}