
.input-group-prepend .custom-span {
    width: 100px;
}

.input-group-prepend .custom-span.white {
    background-color: white;
    color: black;
}

.input-group-prepend .custom-span.black {
    background-color: black;
    color: white;
}

.bordered{
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
}

.bordered.playing {
    border-color: cornflowerblue;
}

