@page "/game-room/{GameCode}"
@using ChessBoardComponents


<div class="game-room-container">
    <div class="left-sidebar">
        <div class="card">
            <div class="card-body">
                <FullGameOptionsForm @ref="FullGameOptionsForm" GameOptions="@GameOptions" CurrentPlayer="@CurrentPlayer"></FullGameOptionsForm>
                <CopyUrlField Url="@JoinUrl"></CopyUrlField>
            </div>
        </div>
    </div>

    <div class="main">
        <TimerComponent @ref="timer1"></TimerComponent>
        @if (GameManager.IsGameCreated)
        {
            <ChessBoardComponent IsRotated="IsBoardRotated" Pieces="pieces" OnFieldClicked="OnBoardFieldClicked" IsReady="AfterBoardReady" />
        }
        <TimerComponent @ref="timer2"></TimerComponent>
    </div>

    <div class="right-sidebar">
        <div class="card" style="height: 100%">
            <div class="card-body">
                <ChatWindow @ref="ChatWindow"></ChatWindow>
            </div>
        </div>
    </div>
</div>

