@page "/game-room/{RoomCode}"
@using ChessBoardComponents


<div class="game-room-container">
    <div class="left-sidebar">
        <div class="card">
            <div class="card-body">
                <FullGameOptionsForm @ref="FullGameOptionsForm"/>
                <CopyUrlField Url="@JoinUrl" />

            </div>
        </div>
        <button id="leave-room-button" type="button" class="btn btn-primary" @onclick="HandleNewGameClicked">
            <span class="oi oi-account-logout"></span>
                @L["leave_game_room"]
        </button>
    </div>

    <div class="main">
        <TimerComponent @ref="timer1" />
        <ChessBoardComponent @ref="ChessBoardComponent" OnFieldClicked="OnBoardFieldClicked" />
        <TimerComponent @ref="timer2" />
    </div>

    <div class="right-sidebar">
        <div class="card" style="height: 100%">
            <div class="card-body">
                <ActivityLog @ref="ActivityLog" />
            </div>
        </div>
    </div>
</div>

