@page "/game-room/{GameCode}"
@inherits GameRoomBase
@using ChessBoardComponents


<div class="game-room-container">
    <div class="left-sidebar">
        <div class="card">
            <div class="card-body">
                <FullGameOptionsForm GameOptions="@GameOptions"></FullGameOptionsForm>
                <CopyUrlField Url="@JoinUrl"></CopyUrlField>
            </div>
        </div>
    </div>

    <div class="main">
        @if (GameManager != null)
        {
            <ChessBoardComponent IsRotated="IsBoardRotated" Width="GameManager.Board.Width" Height="GameManager.Board.Height" OnFieldClicked="OnBoardFieldClicked" IsReady="AfterBoardReady"/>
        }
    </div>

    <div class="right-sidebar">
        <div class="card">
            <div class="card-body">
                <FullGameOptionsForm></FullGameOptionsForm>
                <CopyUrlField Url="@JoinUrl"></CopyUrlField>
            </div>
        </div>
    </div>
</div>

