@page "/"

<ProgressBar IsLoading="isLoading" IsError="isError" />
<div class="card">
    <div class="card-body">
        <h1>@L["create_new_game"]</h1>
        <GameOptionsForm IsDisabled="isLoading" OnValidSubmit="CreateNewGame" />
    </div>
</div>
